[2018-02-28 13:50] jmplaza opened #1 "Migration from the JdeRobot/JdeRobot repository"
VisualStates will have now its own standalone repository. This will make easier to generate a ROS package for it, the development of this tool and the creation of an AppImage of it.
Right now the source code of the tool and its examples are inside the JdeRobot/JdeRobot repository.

Beyond copying the source code here, a CMake configuration file must be prepared, including dependences of the code,

[2018-03-14 10:30] jmplaza opened #2 "Generation of a ROS package"
To make easy for a ROS user/developer to use this tool

[2018-03-14 10:31] jmplaza opened #3 "Generation of a debian package for VisualStates"
To make easy for a ROS user/developer to install this tool, just with apt-get

[2018-03-14 10:35] jmplaza opened #4 "Notifying connection to interfaces"
When using a behavior generated by Visual States, the behavior node always prints that it is connected to the interfaces, even when it is not.

This has been checked out using Python components and ROS drivers with JdeRobot Comm.

(this issue comes from [here](https://github.com/JdeRobot/JdeRobot/issues/1077), where the VisualStates code was until this week)

[2018-03-14 10:40] jmplaza opened #5 "Edit config files"
Now, when creating the configuration file using Visual States it is possible to add a new interface or to remove an existing one. It would be useful to edit the existing interfaces also, allowing to modify their fields and save them. Right now, the only way to do this is to create a new interface with the desired fields and remove the old one.

(this issue comes from [here](https://github.com/JdeR

[2018-03-14 10:44] jmplaza opened #6 "Access to interfaces inside time transitions"
With the current state of the tool, time transitions do not have access to the interfaces object. This would be useful because it is possible to execute code when the transition is activated, and the interfaces object has variables that are common to the rest of the automaton, so with this modification the time transitions will be able to modify these variables when they got activated.

(this issu

[2018-03-14 10:49] pushkalkatara commented on #5
Thanks for the link. I would be following this repository from now for VisualStates.

[2018-03-14 10:56] jmplaza opened #7 "CMake configure file creates files in build directory and created python file cannot be installed"
CMake configure file creates files in build directory and created python file cannot be installed. We should install the file relative to the CMAKE_CURRENT_BINARY_DIR directory.

(this issue comes from [here](https://github.com/JdeRobot/JdeRobot/issues/906), where the VisualStates code was until this week)

[2018-03-15 16:04] okanasik commented on #1
Dear @jmplaza,
I created a separate folder for visualstates, but I do not have permission to push here. Will you give me permission? or Do I need to create a pull request. Best.

[2018-03-15 17:53] jmplaza commented on #1
Sure @okanasik, done, you can push now. Anyway maybe it is a better policy to create a pull request and then you can merge it yourself. This way all the changes go through the issue + pull_request mechanism. It is a better policy in the long run. It makes easier to track the development and the double check by other developer before merging. Let's follow it, please.

[2018-03-15 22:00] okanasik commented on #1
Dear @jmplaza, as suggested I created a pull request.

[2018-03-19 09:47] #1 closed

[2018-03-20 16:33] okanasik commented on #7
This is already solved with the latest change on the CMakeLists file

[2018-03-20 16:33] #7 closed

[2018-03-21 12:52] okanasik opened #10 "CMakeLists file of generated code does not have the correct dependencies"
CMakeLists file of generated code does not have the correct dependencies

[2018-04-07 21:51] pushkalkatara opened #11 "[Deps] Python dependecies in CMakeLists.txt"
The CMakeLists.txt is currently lacking following Python related dependencies -
sysv_ipc==1.0.0
PyYAML==3.12
PyQt5 needs to be added as a dependency but as further updates in PyQt5, its support for [Python2](http://pyqt.sourceforge.net/Docs/PyQt5/installation.html#installing-from-wheels) is removed. Also while installing pyqt5 using `sudo apt-get install python-pyqt5`, package PyQt5.Qsci is missin

[2018-04-10 15:31] pushkalkatara opened #12 "Directory Error while generating Python code."
While generating Python file after importing XML, pops up error -
[code]
While looking into the directory where VisualStates is installed, path where all the needful files are
`/opt/VisualStates/lib/python2.7/codegen/python`

Should the (Cmake) installation directory be changed or the the path under pythonrosgenerator.py be changed?

[2018-04-16 14:11] okanasik commented on #11
Dear @pushkalkatara,

The Ubuntu 16.04 provides packages for PyQt5, and PyQt5.QSci for python2.7. However, I am not sure whether it is necessary to put these dependencies in cmake. What do you think @reysam93 @jmplaza

[2018-04-16 14:34] jmplaza commented on #11
Maybe we can put the dependences on those Ubuntu-16.04 packages (PyQt5, and PyQt5.QSci for python2.7), as long as they both are already required to work and available. It doesn't hurt, they are going to be easily satisfied and installed in case of using VisualStates from Ubuntu 16.04. Aren't they?

We will see for the upcoming Ubuntu-18.04.

We have a serious problem with Python in JdeRobot, and s

[2018-04-16 18:51] pushkalkatara opened #14 "[Example] BumpAndGo Behavior"
A solution for BumpAndGo behavior as an example for VisualStates tool.

This issue references https://github.com/JdeRobot/Academy/issues/188

[2018-04-18 14:48] jmplaza opened #16 "The TurtleBot tutorial should be self-contained"
The VisualStates repository should include the worlds, models, etc which are used in [the tutorial](https://jderobot.org/Tutorials#TurtleBot_Example_with_ROS) but are not directly available from ROS packages. For instance the [Gazebo world](https://github.com/JdeRobot/JdeRobot/blob/master/src/drivers/gazeboserver/worlds/kobuki-simple-ros.world). Somewhere inside the examples directory seems a good

[2018-05-09 10:28] okanasik commented on #12
fixed by #13

[2018-05-09 10:28] #12 closed

[2018-05-28 03:26] pushkalkatara opened #17 "[BUG] Remove state option does not update TreeModel"
While removing a state from automata scene by, the state disappears from the automata scene but not from the tree model.

[2018-05-28 21:14] pushkalkatara opened #18 "[Feature] How would child state transition connect to other parent state through automata scene?"
Currently, selecting parent state opens a new automata scene where new states can be added.
The parent state must have a transition which automatically redirects it to the child state, and executes the child state. While the automata scene is displaying the child states, the child state must have an option to specify the transition to any state(parent state or child state or any state under root s

[2018-05-30 09:28] okanasik commented on #17
Dear @pushkalkatara, can you also write the steps to reproduce this error. I am not able to reproduce while creating a automata. Best,

[2018-05-30 09:42] pushkalkatara commented on #17
Respected Sir,
When removing a substate of a state, the state gets removed from the automata scene but not from the TreeView like in the case below.
![err2](https://user-images.githubusercontent.com/21266230/40712538-98a61844-641b-11e8-838e-0ac335a7459a.png)
![err 3](https://user-images.githubusercontent.com/21266230/40712693-ec81be78-641b-11e8-9635-a42d9c6911b4.png)

But in the case when a state

[2018-05-30 09:46] okanasik commented on #18
Dear @pushkalkatara,
In state hierarchy, every subautomata can only have states and transitions between them. That is a design choice to keep hierarchy of subautomatas managable, otherwise it could be quite hard to maintain the whole automata structure. By default, when a parent state is active, subautomata of that state also runs.

[2018-05-30 10:29] #17 closed

[2018-06-01 05:13] #18 closed

[2018-06-01 05:15] pushkalkatara opened #20 "Code generation successfull but no permissions through chmod"
![error1](https://user-images.githubusercontent.com/21266230/40822225-e30c94bc-6588-11e8-930d-a1515f42f6e8.png)

[2018-06-04 14:26] pushkalkatara opened #22 "Behavior Data(Configs, Functions, Aux Variables) while importing a state."
In the case when a behavior is being imported, the importing state would have some configurations, functions and aux variables. to generate file ros nodes, these configurations, functions and aux variables must exist in the developing state.
Configurations can be appended to the configurations list while checking if it exists before, but functions and auxiliary variables must be unique, as there m

[2018-06-05 06:17] pushkalkatara opened #23 "[Configs] Topics of same name are being added"
Currently, a topic with two same names are being added, but each topic name in ros is exclusive.

[2018-06-05 21:37] okanasik commented on #22
I think the simplest strategy to solve this problem would be concatenating a string to the imported states. According to this name change, we also need to update all names used in the functions and variables. We can also ask to the user for a unique name for the imported function and variables.
Another strategy would be encapsulating all functions and variables in different namespace or class. The

[2018-06-06 04:19] #20 closed

[2018-06-08 10:35] pushkalkatara commented on #22
Namespace and Class Strategy:
* Adding a new tag in state and tranisition xml parent tag defining the class or namespace to use.
* Functions and variables parsed and appended to the dictionaries of namespaces. Ex - Every namespace would be a unique key in dictionary, and a sub dictionary containing all the functions.
* While generating code, a new object would be created, and the imported function

[2018-06-11 17:59] pushkalkatara opened #25 "Edit topic names from ROSConfig menu"

[2018-06-12 07:57] pushkalkatara commented on #25
Solved - https://github.com/JdeRobot/VisualStates/pull/24/commits/a1076e65f952be5fe95aa0767a83e54f3201f256

[2018-06-12 07:57] #25 closed

[2018-06-12 07:57] pushkalkatara commented on #23
Solved - https://github.com/JdeRobot/VisualStates/pull/24/commits/a1076e65f952be5fe95aa0767a83e54f3201f256

[2018-06-12 07:57] #23 closed

[2018-06-12 07:58] pushkalkatara commented on #14
Solved https://github.com/JdeRobot/VisualStates/pull/24/commits/a1076e65f952be5fe95aa0767a83e54f3201f256

[2018-06-12 07:58] #14 closed

[2018-06-12 07:59] pushkalkatara commented on #5
Editing topic name is now working with this implementation - https://github.com/JdeRobot/VisualStates/pull/24/commits/a1076e65f952be5fe95aa0767a83e54f3201f256

[2018-06-12 08:19] pushkalkatara opened #26 "[Feature-Configs] Adding external ROS Package messages to extend functionality."
Currently, ROS main workspace packages are available for the user to choose. But if a ROS repository is cloned from github it needs to be compiled and sourced to make its messages, services available globally. To read these while developing through VisualStates needs to be implemented.

[2018-06-13 07:08] pushkalkatara opened #27 "[Feature-ConfigLibraries] Display imported Libraries in the library config"
Display the list of libraries in the libraries dialog

[2018-06-13 07:19] #27 closed

[2018-06-21 10:18] pushkalkatara opened #29 "[CodegenBug(New Directory)] tree.treeModel not found"
Directory error as generated code according to the new directory is not available. working on it :D

[2018-06-27 13:33] pushkalkatara opened #31 "Import Display in the root state."
When a new state is imported, it is not drawn on the current scene. If we get in one of the states and move up, we are able to see the newly added state.

[2018-06-27 13:43] pushkalkatara opened #32 "Function imported in same line"
a function or variable of the imported state or the function of the importing states do not have new line at the end of the function or variable, the imported function and variables are concatenated. Adding new line supposed to solve this.

[2018-06-27 13:45] pushkalkatara opened #33 "File name changes with import."
a new state is imported, the file name of the new state is set as the imported state, if the user saves that new behavior, it actually overrides the imported state.

[2018-06-27 14:03] pushkalkatara opened #34 "Adding invalid ROSPackage crashes the program, display dialog"

[2018-06-29 08:51] pushkalkatara commented on #34
Solved with manual merge

[2018-06-29 08:51] #34 closed

[2018-06-29 08:51] pushkalkatara commented on #33
Solved with manual merge

[2018-06-29 08:51] #33 closed

[2018-06-29 08:51] pushkalkatara commented on #32
Solved with manual merge

[2018-06-29 08:51] pushkalkatara commented on #31
Solved with manual merge

[2018-06-29 08:51] #31 closed

[2018-06-29 08:52] pushkalkatara commented on #29
Solved with manual merge

[2018-06-29 08:52] #29 closed

[2018-06-29 08:52] pushkalkatara commented on #26
Solved with manual merge

[2018-06-29 08:52] #26 closed

[2018-06-29 08:52] pushkalkatara commented on #22
Name mangling under work, Import issue solved with the manual merge.

[2018-06-29 08:52] #22 closed

[2018-06-29 08:53] pushkalkatara opened #35 "Name Mangling while importing functions and variables."
Namespace and Class Strategy:
* Adding a new tag in state and tranisition xml parent tag defining the class or namespace to use.
* Functions and variables parsed and appended to the dictionaries of namespaces. Ex - Every namespace would be a unique key in dictionary, and a sub dictionary containing all the functions.
* While generating code, a new object would be created, and the imported function

[2018-06-29 12:52] okanasik commented on #35
Dear @pushkalkatara , I think the name mangling approach is not user friendly. It is better to follow namespace approach. Maybe in the function and variables dialog we can have an option to choose the namespace our function and variables will reside. However, I think it is better to follow the simplest approach. If there is a conflict about the names of the variables and functions. We should show

[2018-06-29 14:58] okanasik opened #37 "[ros-package] Code generation part is needed to be adapted to latest code structure"
After making visualstates a ROS package, we need to restructure whole code for supporting ROS package generation. Whether we aim standalone ROS package or a package depending on the run time provided by visualstates.

[2018-06-29 15:14] okanasik opened #38 "[ros-package] update README with the new installation instructions."

[2018-06-29 19:24] okanasik opened #39 "None config breaks the config in code generation"
If the config is not determined, visualstates crashes if we try to generate code.

[2018-06-29 19:29] #39 closed

[2018-06-29 19:30] okanasik commented on #38
solved by #40

[2018-06-29 19:33] okanasik opened #41 "Create About dialog to provide information about the tool."

[2018-06-30 07:29] pushkalkatara commented on #35
I'll try and demo the strategies with an example:
Currently in Kobuki Example of obstacleAvoidance:
There exists a class RosNode which contains the ROS related publishers and subscribers variables and callbacks. With these, it also contains the user-defined methods and variables. I noticed that state code only requires a publisher related methods and variables and it doesn't require user created a

[2018-07-01 21:41] okanasik commented on #35
Dear @pushkalkatara,
I think this namespace approach sounds fine. However, all transitions and state should be able to access all namespaces and rosnode functionality. Therefore, we can pass a rosNode and another class object that have a reference all namespaces (like namespace container). We can assume that if no state is imported we have a root namespace in our namespace container. When a state

[2018-07-02 00:45] pushkalkatara commented on #35
I'll quick implement this approach. We'll find out further difficulties with an example. :D
Thanks for the update.

[2018-07-03 14:17] pushkalkatara opened #42 "cppgenerator.py according to namespace feature."
Separate namespace for functions and variables.

[2018-07-03 14:29] pushkalkatara opened #43 "pythongenerator.py and pythonrosgenerator.py according to namespace strategy"

[2018-07-03 18:13] pushkalkatara opened #44 "cpprosgenerator.py and cppgenerator.py according to namespace feature."

[2018-07-03 18:13] pushkalkatara opened #45 "pythongenerator.py according to namespace strategy"

[2018-07-03 18:14] pushkalkatara opened #46 "pythonrosgenerator.py according to namespace strategy"

[2018-07-03 18:14] #43 closed

[2018-07-03 19:09] pushkalkatara opened #47 "state.py edit to support namespace functionality"

[2018-07-03 19:09] pushkalkatara opened #48 "transition.py edit to support namespace functionality"

[2018-07-03 21:02] pushkalkatara opened #49 "XML parsing for Namespace functionality"

[2018-07-03 21:33] pushkalkatara opened #50 "Namespace functions and variables update functionality from gui"

[2018-07-03 21:33] pushkalkatara opened #51 "Namespace variables update functionality"

[2018-07-03 22:10] pushkalkatara opened #52 "Change namespace with change in level of behaviors."

[2018-07-03 22:16] pushkalkatara opened #53 "Update activeNamespace and namespaces with import"

[2018-07-06 20:02] pushkalkatara opened #54 "new namespace with every import"

[2018-07-07 10:18] pushkalkatara commented on #54
activeNamespace functionality implemented. On branch name-mangling.
@okanasik, While implementing this approach I noticed that when new states are imported with their namespace, the root namespace stays in the code but not in the user interface. How should i approach further on this issue?

[2018-07-09 10:34] #37 closed

[2018-07-09 19:44] #51 closed

[2018-07-10 19:02] #46 closed

[2018-07-10 19:02] #42 closed

[2018-07-11 09:27] okanasik commented on #35
For name collision resolution, we are going to isolate every automata. Therefore, we will not use name mangling strategy anymore.

[2018-07-29 09:21] pushkalkatara commented on #54
Solved on fork with commit https://github.com/pushkalkatara/VisualStates/commit/909a485d957c1e0aba73469ab6b0faab96c6c6f3

with the strategy discussed on VisualStates forum.

[2018-07-29 09:21] #54 closed

[2018-07-29 09:21] pushkalkatara commented on #52
Solved on fork with commit pushkalkatara@909a485

with the strategy discussed on VisualStates forum.

[2018-07-29 09:21] #52 closed

[2018-07-29 09:21] pushkalkatara commented on #50
Solved on fork with commit pushkalkatara@909a485

with the strategy discussed on VisualStates forum.

[2018-07-29 09:21] #50 closed

[2018-07-29 09:22] pushkalkatara commented on #47
Solved on fork with commit pushkalkatara@909a485

with the strategy discussed on VisualStates forum.

[2018-07-29 09:22] pushkalkatara commented on #45
Solved on fork with commit pushkalkatara@909a485

with the strategy discussed on VisualStates forum.

[2018-07-29 20:15] pushkalkatara commented on #49
With recent commit generating namespaces is resolved but parsing still remains.

[2018-07-29 20:58] pushkalkatara commented on #49
Regarding parsing of namespaces, we can implement two strategies -
1. Adding a new XML tag in every state which directly tells the ID of the namespace. This would be an easy strategy but not efficient.
2. As parsing of states and transitions is through a depth-first approach, it would be inefficient to find the namespace level again and again while applying it to states and transitions. Workaround

[2018-07-30 01:18] pushkalkatara commented on #49
Here's a quick implementation on the branch [parsing-namespace](https://github.com/pushkalkatara/VisualStates/tree/parsing-namespace). In the fileManager file there needs to be an array of namespaces which contains all the namespaces. But with the current implementation, there is no proper way to extract all the namespaces from each state level.
Also as rootState would not have any Namespace, it i

[2018-07-31 10:03] okanasik commented on #49
Dear @pushkalkatara, I am a little confused about that issue. Every state is supposed to have single `local_namespace`. When you import **in** or **on** a state, you can directly access `local_namespace` of those states and merge them. That is it. You do not need to parse whole state tree for every import action. Even we do not need to have id or name of a `local_namespace` since every `local_name

[2018-08-01 18:54] pushkalkatara commented on #49
Sir @okanasik, the current implementation is for open functionality when a user opens a new automaton through an XML file. In this case, multiple levels are being parsed which would have different states and namespaces. Also, states at the same level would have the same local namespace.
As the states are being parsed depth-wise, list for namespaces is required, but if we change the implementation

[2018-08-02 08:38] okanasik commented on #49
Dear @pushkalkatara, the states at the same level would have an access to their parents local namespace. Actually namespaces will be applied only to the states having one or more child states. These child states can access anything defined on the local namespace of their parents. Therefore, it should not matter how you parse your tree. When you select a state on the treeview, you actually choose a

[2018-08-03 14:35] pushkalkatara opened #58 "Import in and on automata"
Current implementation contains import on functionality. Implement import in functionality also.

[2018-08-12 23:40] #49 closed

[2018-08-13 18:27] pushkalkatara opened #60 "None while displaying Global and Local Namespace variables."
This issue might be due to the delay in ipc library. @okanasik please review.

XML File to reproduce the error -
[code]

![namespace-2](https://user-images.githubusercontent.com/21266230/44042840-f9501416-9f3e-11e8-9c58-80488997796c.gif)

[2018-08-14 21:15] okanasik commented on #60
I have tested with the latest state from the branch `parsing-namespace`. There is a small error in the order of the parameters, namespace is initialized with 100 (cycleDuration). Can you check this error?

What is the error in this video? I could not get the error. Can you elaborate more?

Okay. I get the error, but this is not an error. You are trying to print the result returned from a method th

[2018-08-15 07:21] okanasik commented on #2
This is completed by #55

[2018-08-15 07:28] okanasik commented on #10
Since we only generate ROS node, we have only ROS based dependencies through ROS package structure.

[2018-08-15 07:28] #10 closed

[2018-08-15 07:38] okanasik commented on #60
Fixed.

[2018-08-15 07:38] #60 closed

[2018-08-15 07:56] okanasik opened #61 "Replace IPC communication between Runtime Visualizer and behavior code with ROS communication"
Replace IPC communication between Runtime Visualizer and behavior code with ROS communication

[2018-08-22 06:02] pushkalkatara opened #62 "Namespace for Transitions"
Currently state namespaces are not applied to transitions, for transitions to be able to use functions and variables of the parent state, transitions must also contain namespace tag.

[2018-08-22 22:31] pushkalkatara commented on #62
Solved with recent commit.

[2018-08-22 22:31] #62 closed

[2018-08-23 19:24] pushkalkatara opened #63 "Runtime GUI Active state color not displaying"
The code under active state is executed but the color is not being displayed.

[2018-09-25 12:01] okanasik opened #65 "[python][template] the user should be able to kill the behavior with CTRL+C"

[2018-09-27 16:38] okanasik commented on #63
fixed by https://github.com/JdeRobot/VisualStates/commit/683a91326279df3955df026e95d2d988a1d7bb67

[2018-09-27 16:38] #63 closed

[2018-09-27 16:39] okanasik commented on #61
implemented with https://github.com/JdeRobot/VisualStates/commit/683a91326279df3955df026e95d2d988a1d7bb67

[2018-09-27 16:39] #61 closed

[2018-09-27 16:40] okanasik commented on #44
merged by #59

[2018-09-27 16:40] #44 closed

[2018-09-27 16:41] okanasik commented on #16
The examples in examples directory has installation directives. The user needs to install kobuki ros packages and jderobot gazebo assets.

[2018-09-27 16:41] #16 closed

[2018-09-27 16:48] okanasik commented on #38
fixed by https://github.com/JdeRobot/VisualStates/commit/0599e239986fdeb2a0cd0d5a9df924d9e681a4cf

[2018-09-27 16:48] #38 closed

[2018-10-19 10:22] pushkalkatara opened #66 "Example BumpAndGo is dependent on Gazebo 9."
As package kobuki_gazebo depends on gazebo 7, the example needs Gazebo 7 installed instead of Gazebo 9

[2018-10-19 11:09] pushkalkatara commented on #66
I noticed the changes to original package [kobuki_desktop](https://github.com/yujinrobot/kobuki_desktop/tree/devel/kobuki_gazebo_plugins) supports Gazebo 9

[2018-10-20 12:24] pushkalkatara opened #67 "Example PriusCarDemo ROS-Gazebo packages"
Ported [car_demo](https://github.com/osrf/car_demo) Nvidia docker to [prius_gazebo](https://github.com/pushkalkatara/prius_gazebo) seperate package. Also added support for Gazebo 9.
Working on demo with VisualStates

[2018-10-20 14:51] pushkalkatara commented on #67
I developed the example with the latest update of VisualStates but while running the example, the RunTime GUI is displaying all the states on the same level, but the example is executing successfully.
@okanasik Please suggest resolution to the issue.

Steps to reproduce the issue -
1. Clone [prius_gazebo](https://github.com/pushkalkatara/prius_gazebo/tree/visualstates) with VisualStates branch.
2.

[2018-11-12 21:12] pushkalkatara opened #68 "[Import BUG] State namespace lost while Importing."
While importing a predeveloped behavior, state-name and auxiliary functions and variables are not being imported. Only working with Open Automata.
While importing, parent local namespace should be updated with the imported local namespace.

[2018-11-19 22:10] pushkalkatara opened #70 "[BUG]Child Automata does'nt restart if parent state ran once."
Example -
In Obstacle Avoidance Behavior, parent Avoid contains two child state `SteerRight` and `SteerLeft`. Initially when the behavior started, when state Avoid is evaluated, child state automata started with SteerRight and ended at SteerLeft.
Again when the parent automata of `Move` and `Avoid` goes to the state `Avoid`, the child automata of `Avoid` with `SteerRight` and `SteerLeft` does'nt e

[2018-11-26 10:01] fqez opened #71 "Connecting VisualStates with Pepper robot."
Hi guys,
I've managed to connect the Pepper robot from Softbank robotics to the VisualStates tool, as you can see [here!!](https://www.youtube.com/watch?v=vUFg1aTA7-k).
**Congratulations** for such an amazing tool which opens a new world of possibilities for programming autonomous behaviours for robots in an easy way.
I almost had no problem doing this test, but the way the publisher and suscriber

[2018-11-27 15:51] okanasik commented on #67
fixed by #72

[2018-11-27 15:51] #67 closed

[2018-11-27 15:54] okanasik opened #73 "Runtime gui lets user edit the state and transition names"

[2018-11-27 16:04] okanasik commented on #73
fixed by #74

[2018-11-27 16:04] #73 closed

[2018-11-27 16:08] okanasik commented on #71
@fqez Thank you for your nice words. Yes, we can to improve our UI to let the developer give a specific function names for subscribed data and publish methods.

[2018-11-27 16:48] okanasik commented on #71
I will create a new feature request issue to improve config UI.

[2018-11-27 16:48] #71 closed

[2018-11-27 18:53] #70 closed

[2018-12-09 18:13] okanasik commented on #68
fixed by #69

[2018-12-09 18:13] #68 closed

[2019-01-02 14:36] okanasik commented on #41
fixed by #76

[2019-01-02 14:36] #41 closed

[2019-01-09 21:32] okanasik opened #77 "Get the ROS version from environment variable"

[2019-01-13 23:31] #77 closed

[2019-01-13 23:34] okanasik opened #79 "ROS C++ template CMakeLists.txt does not depend on roscpp"

[2019-01-13 23:36] #79 closed

[2019-01-17 16:17] okanasik opened #82 "ROS Service integration"
The tool should be able to run ROS services.

[2019-01-31 21:01] #65 closed

[2019-01-31 21:14] okanasik opened #83 "TransformListener to access /tf"
When the user wants to access `/tf`, it will access `TransformListener` via global namespace.

[2019-01-31 21:21] okanasik opened #84 "Extending state codes with running cycle"
When the user kills the behavior code with interrupt signal (such as CTRL + C), the automata code is killed. If the latest active state is sending move forward command, the robot will continue to move forward even if the behavior is killed. To provide a mechanism to the behavior developer to handle the exiting conditions, we aim to provide three method interfaces; `init`, `step`, and `finish`. Whe

[2019-02-01 20:56] pushkalkatara opened #85 "Access global and local namespace in temporal transition code."

[2019-02-04 21:19] okanasik commented on #66
We have moved visualstates examples to https://github.com/JdeRobot/VisualStates-examples

[2019-02-04 21:19] #66 closed

[2019-02-04 21:20] okanasik commented on #4
Since, visualstates do not use JdeRobot Comm interface, that bug is not relevant anymore.

[2019-02-04 21:20] #4 closed

[2019-02-04 21:22] okanasik commented on #11
We resolved that issue since the dependencies to sysv_ipc and PyYAML are removed.

[2019-02-04 21:22] #11 closed

[2019-02-04 21:23] okanasik commented on #3
VisualStates tool is packaged by ros build farm and distributed as Ubuntu package.

[2019-02-04 21:23] #3 closed

[2019-02-04 21:25] okanasik commented on #6
Since there is a new duplicate issue #86 , I close this issue.

[2019-02-12 10:40] okanasik commented on #85
Fixed by #86

[2019-02-12 10:40] #85 closed

[2019-02-14 12:15] #5 closed

[2019-02-27 09:56] okanasik commented on #83
Since the user is able to define `tf.TransformListener` and `tf.TransformBroadcaster `as part of `globalNamespace`, there is no need to initialize a transform listener even if the behavior will not use it.

[2019-02-27 09:56] #83 closed

[2019-03-02 21:20] pushkalkatara opened #88 "State ID conflict with recursive import"
![v1](https://user-images.githubusercontent.com/21266230/53687800-1a10b200-3d5f-11e9-89d3-0da43208b627.png)
Conflict in ID 3-4.

[2019-03-03 00:12] pushkalkatara opened #91 "Interface to select states to import"
Currently, using Import functionality, all the states are imported in the developing behavior. In some cases, only some of the selected states are required, hence an interface which display all the states and provides functionality to select one or all states to be imported.

[2019-03-03 00:26] pushkalkatara opened #92 "Transition takes empty name as string but fails to load."
While developing behavior, transitions take the empty name as input. After saving the behavior and reopening it, the following error occurs -
[code]
Transitions without name should be allowed.

[2019-03-13 19:53] okanasik opened #93 "New visualstate behavior should clear the last file path from filemanager"
When we first open a visualstates behavior, then we choose to create a new visualstates behavior, but the filemanager still keeps the filename of the previously opened behavior. Therefore, when the user clicks the save button, the new behavior will override the previously opened behavior.

[2019-03-13 19:56] okanasik commented on #58
fixed by #90

[2019-03-13 19:56] #58 closed

[2019-03-13 20:01] #88 closed

[2019-03-13 20:08] okanasik opened #94 "When a behavior is imported in another behavior transition ids are not updated"
When a behavior is imported in another behavior, we need to update the ids of transitions. In the current implementation, if there are more transition with the same id, only one of those transitions' code is generated.

[2019-03-13 22:28] pushkalkatara commented on #94
I cannot reproduce this issue, I checked while importing prius_crossing.xml in a new developing behavior. The transition ids were updated properly.

[2019-03-15 23:29] pushkalkatara opened #95 "If empty string in AddWorkspace path, VisualStates unexpectedly exits"
If empty string is provided in the path, then visualstates shutdowns with the following error -

[code]

[2019-03-16 08:04] pushkalkatara opened #96 "User input validation"
While developing automata if condition is not given, the XML file saves but while reloading it in VisualStates the following error occures.
[code]

[2019-04-03 14:24] okanasik commented on #94
To reproduce the error create one behaviors having the following xml file:
[code]

Another behavior having the following behavior:
[code]

Note that these two behaviors are similar with the only difference on their transition time. The first one has 1001 and 1002 and the second one has 2001 and 2002 as their transition time and note that their transition id is same 1 and 2.

Create a new behavior

[2019-04-04 21:08] sudo-panda commented on #92
I would like to work on this issue.
I think we should check the input of the transition's name and ask the user to input its name again.
Is this what I should implement or do I go about it in a different way?

[2019-04-05 00:01] pushkalkatara commented on #92
Hi @sudo-panda .  The transition name can be empty too. While parsing the XML to automata using [transition.py](https://github.com/JdeRobot/VisualStates/blob/master/src/visualstates/core/transition.py), it expects a value but as the node is empty, when it tries to access the node value, it gives `list index out of range` error. You can check if the node is empty and then access the nodeValue.

[2019-04-05 04:57] sudo-panda commented on #92
I have added a try catch block to rectify the issue. And it is now fixed.

[2019-04-05 15:36] sudo-panda commented on #92
Can I claim another issue before the pull request is merged?

[2019-04-05 15:55] pushkalkatara commented on #92
@sudo-panda Thanks for the PR. it solves the issue and I have merged it.

Yes, you can approach as many as issues you want.

[2019-04-05 15:55] #92 closed

[2019-04-06 03:53] sudo-panda commented on #93
I would like to work on this issue.
Do I just need to set filemanager.fullPath to empty when it is opening a new file or am I going about it wrong again?

[2019-04-06 05:06] sudo-panda commented on #95
Do we need to show the "This is not a catkin workspace ..." warning or just exit the dialog?

[2019-04-06 05:56] sudo-panda commented on #94
I was looking at `importmanager.py` and there is a function called `updateIDs` which just calls upon `updateStateIDs`. Why is updateIDs required?
Also I would like to add code to update transition ids.

[2019-04-06 08:44] pushkalkatara commented on #95
Hi @sudo-panda , maybe you can update the text in the dialog with "This is not catkin workspace or path not found".

[2019-04-06 13:50] sudo-panda opened #99 "If XML is imported and not saved, code generation causes the program to crash."
If all of the XML files are imported and then the resulting XML is not saved generating Python or C++ code crashes the program with error:
[code]
**Possible Fix:**
Automatically save file before generating code

[2019-04-06 15:02] pushkalkatara commented on #94
Hi @sudo-panda , VisualStates supports functionality to import pre-developed automata into a new developing automata using the Import feature. Take an example of autonomous prius car, in which the car needs to avoid any obstacle coming in front. Hence user need not develop the obstacle-avoidance behavior again, can import directly from kobuki-obstacle-avoidance example. thus, in general, we can ha

[2019-04-06 15:09] pushkalkatara commented on #99
I think the issue is due to the location on which you are saving requires super user permissions, also I see that you are importing a C++ based automata which is not supported yet.
`File "/home/sudo-panda/Workspaces/jde_robot/src/VisualStates/src/visualstates/generators/cpprosgenerator.py", line 36, in generate
    os.makedirs(projectPath + os.sep + 'src')`

I think the way to resolve this issue,

[2019-04-06 15:33] sudo-panda commented on #94
I think there was a confusion. I know that there is an import function. I was not sure why the updateIDs function was required. I have added functionality to it so it's no longer an issue.

Also, if it wasn't clear, I should declare that I am participating in GSoC with JdeRobot as my Organization. The project I am pursuing is "A parameterized automata Library for VisualStates tool".

[2019-04-06 15:43] pushkalkatara commented on #94
Sure. Thanks for the PR. I'll review it soon.

Referencing it here - https://github.com/JdeRobot/VisualStates/pull/98

[2019-04-06 15:57] #94 closed

[2019-04-06 15:57] #95 closed

[2019-04-06 16:16] sudo-panda commented on #99
I tried it on both Python and C++ code generators

[2019-04-06 20:01] pushkalkatara commented on #99
Yes, I was also able to reproduce the issue. Thanks for pointing out.
[code]

[2019-04-06 22:26] pushkalkatara opened #100 "Jderobot logo size is very small in left corner of the tool."

[2019-04-07 06:09] jmplaza opened #101 "Unify the VisualStates documentation in github pages"
([https://jderobot.github.io/VisualStates](https://jderobot.github.io/VisualStates)) instead of the wiki

[2019-04-07 09:35] jmplaza commented on #101
Solved, at least the first version of it

[2019-04-07 09:35] #101 closed

[2019-04-11 06:30] sudo-panda commented on #91
I would like to work on adding this feature.

[2019-04-11 07:14] sudo-panda commented on #91
Does the interface show the visual of transitions with the states or only the state names?

[2019-04-11 12:38] pushkalkatara commented on #91
Hi, @sudo-panda Thanks for approaching the issue, we can start initially just with displaying the states.

[2019-04-13 21:17] okanasik commented on #100
I made it smaller some time ago to make use of all the space for the good of the user. I checked many tools, I have been using in daily basis and I see that none of them have logo taking that much screen space and I decided to make it smaller. Also, to include the relevant references, I just designed a new about window with a big nice JdeRobot logo.
This was the context. What do you think? Do you

[2019-04-13 21:21] okanasik commented on #99
The expected behavior for such cases can be two ways:
1. Prompting user to save the behavior before the code generation by explaining that code generation will create source files in the same directory of the behavior.
2. Create temporary file in some temporary folder such as `.visualstates` or `/tmp/visualstates/`

What do you think? Which one could be a userfriendly approach. I think the option

[2019-04-13 21:23] okanasik commented on #96
I think we need to generate a more encompassing user input validation so that we can keep all such policies in a single place to have clean code space. I will change the title of the issue to a more general user input validation.

[2019-04-13 21:26] sudo-panda commented on #99
I too think that the 1st option is better and more user friendly.

[2019-04-13 21:27] okanasik commented on #93
Yes, it could be fine to set it to empty, but you should also check whether the empty filename is checked when user wants to save the file. In that case, file save dialog should open since the there is no filename for the current behavior.
Another important issue about the filemanager is that since behavior import also uses the filemanager, it temporarily sets a filename during the import, but as

[2019-04-13 22:01] sudo-panda commented on #93
Ok I will look into these cases.

[2019-04-14 07:38] pushkalkatara commented on #100
Oh right. I checked the `About -> Help` section of the tool. It has the logo as well as links too. Maybe we can remove it or it is just fine.

[2019-04-14 14:29] okanasik commented on #100
Are you referring to the issue while saying "maybe we can remove it or it is just fine" What is your opinion? You want to have a visible logo? If yes, can you write why do we need that?

[2019-04-15 06:59] sudo-panda commented on #93
In the case of import behavior, it doesn't set the path permanently so it isn't a problem.

[2019-04-15 07:10] sudo-panda commented on #93
I have solved to issue but will send a pull request later will more solved issues.

[2019-04-15 20:08] sudo-panda commented on #99
I have added an info dialog that tells user that it is necessary for the behaviour to be saved before code generation and then it saves the behaviour.

[2019-04-16 23:15] sudo-panda commented on #91
Are the state ids always continuous or can there be gaps and do the child states have to have greater state ids than the ones in the upper level?

[2019-04-17 18:52] pushkalkatara commented on #91
Hi @sudo-panda , the child states need not be continuous, also it's not necessary that the child state would have greater state ids compared to the ones in the upper level. The whole procedure works on recursive parsing.

[2019-04-17 19:08] sudo-panda commented on #91
Shouldn't a deleted state delete a destination Transitions along with Origin Transition both during  importing and in the main VisualStates window. Right now it only deletes origin Transitions.

[2019-04-17 19:23] pushkalkatara commented on #91
I didn't get you, what do you mean by origin transition or destination
transition? I believe a transition points from origin state to a
destination state. If we remove a particular state, all the transitions
attached to it are automatically removed. But if a transition is removed,
both the states connected to it stays in the automata.

On Thu, Apr 18, 2019 at 12:38 AM sudo-panda <notifications@git

[2019-04-17 19:46] sudo-panda commented on #91
That should be the ideal behaviour but right now only the transitions that originate from a state are removed on removal of the state and not the ones that point towards the state

[2019-04-19 12:19] pushkalkatara commented on #100
I was referring to the logo on the active window. As there is an `About -> Help` section in which logo and relevant links are there, I think we won't need the logo on the active window. We can remove it or it is just fine of this size.

[2019-04-20 11:55] sudo-panda commented on #91
Should I modify the current behaviour?

[2019-04-25 08:54] sudo-panda commented on #91
@pushkalkatara could you please reply so that finish adding this feature.

[2019-04-28 07:46] pushkalkatara commented on #91
Hi @sudo-panda . I was busy with something. I think we would require more discussion over this, it would be better to create a separate issue for it.

[2019-04-28 08:17] sudo-panda commented on #91
No problem. Should I create a pull request to add this feature or first solve that issue?

[2019-04-28 16:55] pushkalkatara commented on #91
Both are unrelated, you can proceed with any of them.

[2019-04-30 07:23] sudo-panda opened #109 "Deleting states doesn't delete the transtitions that point to it."
The ideal behaviour would be that both transitions that originate from the state and those that point towards the state should be deleted. Right now it only deletes the transitions that originate from it.

[2019-05-18 12:34] okanasik commented on #109
Dear @sudo-panda, I am not sure there is such a problem. If a state is removed all transitions that originate and all transitions that point to it is removed in method `removeStateItem` If you think there is still a problem that I do not see, can you write the steps to reproduce the problem. https://github.com/JdeRobot/VisualStates/blob/e79dcf84fb3023e17a3352dccb91f4b11b3001b2/src/visualstates/gui

[2019-05-18 12:37] okanasik commented on #100
When I was removing from the main window, I thought it would be good to keep small portion of it. Now, I think we can remove that small logo since it thickens the status bar.

[2019-05-18 17:05] sudo-panda commented on #109
I myself can't reproduce the problem now.
But #110 is necessary for the functioning of #108. Nevertheless closing this issue.

[2019-05-18 17:05] #109 closed

[2019-05-30 14:09] sudo-panda opened #113 "Ctrl+S is not saving"
Its giving the error: ```QAction::eventFilter: Ambiguous shortcut overload: Ctrl+S```
Its most probably because Save As Acton is also provided with the same shortcut.

[2019-06-02 14:48] okanasik commented on #100
Solved by #112

[2019-06-02 14:48] #100 closed

[2019-06-02 14:48] okanasik commented on #99
Solved by #106

[2019-06-02 14:48] #99 closed

[2019-06-02 14:49] okanasik commented on #93
Solved by #106

[2019-06-02 14:49] #93 closed

[2019-06-02 14:53] okanasik commented on #96
@sudo-panda as part of hardening efforts, can you test all user inputs and whether they are validated according to the function. As a humble suggestion, you can first list all user input interfaces of the tool and determine what is the valid input for the considered input interface and finally you can test them. What do you think?

[2019-06-02 15:27] sudo-panda commented on #96
I will work on it.

[2019-06-02 21:29] sudo-panda commented on #96
These are my findings:

| Input Name | Input Type | Error(if any) |
|---------------|--------------|---------------|
| File -> Open -> File Dialog | VisualStates Files | Program crashes if any other .xml file is provided |
| File -> Import -> File Dialog | VisualStates Files | Program crashes if any other .xml file is provided |
| Spawn Transition | Two States | It allows the transition to have th

[2019-06-09 21:43] sudo-panda opened #114 "Child Automata doesn't start from initial state if parent state ran once."
This is the same issue as #70

![Screenshot from 2019-06-10 03-01-26](https://user-images.githubusercontent.com/16690760/59164585-5b69e800-8b2c-11e9-8cb7-3f4649ec2795.png)
Root State

![Screenshot from 2019-06-10 03-01-35](https://user-images.githubusercontent.com/16690760/59164587-6290f600-8b2c-11e9-8fb4-45cda0bf909c.png)
Find Wall State

If state Find Wall is activated it starts at Move Forward

[2019-06-10 20:36] sudo-panda opened #115 "Program Crashes if invalid xml provided to Open or Import File Dialog"
If user selects an .xml file that is not a VisualStates file instead of warning the user the program crashes.

[2019-06-10 20:49] sudo-panda opened #116 "Inputs where Integers are to be used, crash when supplied other data types"
Examples,
- Temporal Transition Code
- Timer

[2019-06-10 21:59] sudo-panda opened #117 "XML validation"
For Example, If we save a VisualStates file which empty conditional transition code it saves but when opening or importing the file it crashes the program throwing an `IndexError` Exception.

Wherever the inputs can be empty we need to catch the error, in others we need to validate user inputs to check that they aren't empty.

[2019-06-10 22:07] sudo-panda opened #118 "Ctrl+G is assigned to multiple menu items."
Ctrl+G is assigned to Global Namespace, State Namespace and C++ Code Generation, so when it is pressed it none of them get triggered.

[2019-06-10 22:37] sudo-panda opened #119 "Check if inputs to lists were previously added."
This check is required in:

- [x] Libraries

- [x] Topics (ROS Config)

- [x] Packages (ROS Config)

- [x] Workspaces (ROS Config)

[2019-06-10 22:39] sudo-panda commented on #119
These lists individually require different checks which must be decided before solving the issue.

[2019-06-10 22:41] sudo-panda commented on #96
@okanasik Sir, Spawning transitions allows the transitions to have the origin and destination to be same.
Is this a feature or a bug.

[2019-06-10 22:47] sudo-panda opened #120 "A tabbed design of VisualStates."
Using dialog for every type of input is not user friendly.

Hence I suggest a tabbed design which might loo somewhat like these pictures:
![VSRoot](https://user-images.githubusercontent.com/16690760/59231785-925cfe00-8bff-11e9-8d02-0a7d97929fc5.png)
![VSState1](https://user-images.githubusercontent.com/16690760/59231791-9721b200-8bff-11e9-94c9-3b459ab8916d.png)
![VSCode](https://user-images.github

[2019-06-10 22:50] sudo-panda commented on #120
I haven't shown the where the user will be able to interact with the parameters list. I think it would be better if the parameter list would be displayed beside the code in a collapsible sidebar

[2019-06-11 15:22] okanasik opened #122 "Add QT Window Application Icon"

[2019-06-11 17:19] sudo-panda commented on #122
This is the JDERobot Icon Shouldn't the QT Window icon be that of VIsualStates?

[2019-06-11 17:20] sudo-panda commented on #116
I would like to work on this issue.

[2019-06-11 20:02] sudo-panda commented on #116
Can I add support for using parameters in Temporal Transition Code, or should I do that in another pull request.

[2019-06-15 06:18] pushkalkatara commented on #120
Hi @sudo-panda . Could you please elaborate the details of the tab. I can see 'Root', 'State 1', 'State 1' and 'Transition 1'. Does this mean source code for 'State 1' and 'Transition 1'? Also what does the 'Root' and 'State 1' tab depicts?

[2019-06-15 07:12] sudo-panda commented on #120
The tabs with </> sign mean that it shows the source code for the state or transition
While ones with a blue circle and red square show the canvas where the child
 states and transitions of the state mentioned is shown.

[2019-06-15 08:03] pushkalkatara commented on #120
Okay great. the design looks good. Could you please explain why `Root` and `State1` with blue circle and red square are two separate tabs?

[2019-06-17 11:02] okanasik commented on #120
- When building a behavior, you would like to write code by checking the code of the other states. Therefore, we let the user to access all possible code locations via such tabbed design. The life of the programmer would be easier.
- However, the user should be able to open these tabs via right click menu and should be able to close them as needed.

[2019-06-17 14:53] okanasik commented on #116
I think it is better to add this feature as part of parameterization project. It is not directly related with this issue.

[2019-06-17 14:56] okanasik commented on #122
Yes, you are right, but we do not have any icon for visualstates. That's why we use jderobot icon.

[2019-06-17 14:56] #122 closed

[2019-06-17 14:59] okanasik commented on #96
Actually, I am not able to come up with a valid use-case for self transitions, but technically finite state machines can have self transitions. It could be better if we disallow that.

[2019-06-17 15:04] okanasik opened #124 "Library UI should match with other UI templates with edit feature"
Currently, library dialog just lets the user to add and delete an entry. Also, look and feel of the UI is different than the whole the project. Improve the UI to match with ROS Config UI look and feel.

[2019-06-17 15:07] sudo-panda commented on #116
I solved it on the colab repo but I am unable to create a pull request due it not being a fork. Any ideas?

[2019-06-17 15:14] okanasik commented on #116
I have written a method on the hangouts, did you try that?

Also do not forget that before working on any single issue, you should checkout the master branch. pull the latest version from the remote repo. create a new branch for the issue/feature make your changes and push your changes to the remote repo. finally create a pull request.

If you still have problems please let me know.

[2019-06-17 15:16] okanasik commented on #117
I have changed the title of the issue as "XML Validation" because, we should have well-defined XML schema and make sure that XML parsing and creation conforms these norms. In the case of errors, it should be failsafe. However, it should not work by getting everything in try and except clauses.

[2019-06-17 15:18] okanasik commented on #115
This is also directly related to XML validation (#117 ). Therefore, I remove this issue.

[2019-06-17 15:18] #115 closed

[2019-06-17 15:23] sudo-panda commented on #116
Sorry I didn't get the notification for the message. I will try that method and if I get merge conflicts while trying pull from the remote repo should I solve it and commit or it is considered a bad practice.

[2019-06-17 15:29] okanasik commented on #116
If you need to merge because of a conflict that is not related to current changes that you have build for the respective issue, it would be bad practice. However, if you need to merge because your changes overwrites the changes done between your last pull and this pull, it is fine. Also do not hesitate to break things, we can always fix things in git :)

[2019-06-17 15:31] sudo-panda commented on #116
Alright, thanks

[2019-06-24 12:51] okanasik commented on #96
Since we create specific issues from these user input validation problems, we can close this issue. See the list of created issues here:
- #113
- #116
- #117
- #118
- #119

[2019-06-24 12:51] #96 closed

[2019-07-03 18:05] sudo-panda commented on #117
I would like to work on this issue.

[2019-07-03 20:57] sudo-panda commented on #119
I would like to work on this issue

[2019-07-09 12:53] okanasik commented on #118
fixed by #125

[2019-07-09 12:53] #118 closed

[2019-07-09 12:55] okanasik commented on #117
Partially fixed by #128. We need to have complete XML validation. For example, if a user selects any irrelevant XML document to open in the app, the app should show an error message and should not crash.

[2019-07-09 12:55] okanasik commented on #116
fixed by #126

[2019-07-09 12:55] #116 closed

[2019-07-09 12:56] okanasik commented on #113
fixed by #130

[2019-07-09 12:56] #113 closed

[2019-07-09 13:02] sudo-panda commented on #117
This commit 356c893801c08de3bdd7a2cf55c9f222651cbcea does that @okanasik

[2019-07-09 13:12] okanasik commented on #117
Yes, you are right. Sorry I missed that, but the file is not a valid XML file (i.e. not conforming to the general XML schema) the app crashes. Actually, the XML parser gives an error of type `xml.parsers.expat.ExpatError`  Maybe we can solve this problem by using try catch mechanism to catch only this type errors. What do you think?

[2019-07-09 13:14] sudo-panda commented on #117
Yes that can be implemented.

[2019-07-16 12:08] #124 closed

[2019-07-16 12:20] okanasik commented on #119
fixed by #129

[2019-07-16 12:20] #119 closed

[2019-07-16 12:30] okanasik commented on #117
Invalid XML file error is handled with the commit 700d24e02427dbad909801c986ee178a34cb44bc

[2019-07-16 12:30] #117 closed

[2019-07-16 17:04] okanasik commented on #114
I have created a fix (#131 ) for this issue, but i am not sure how that will affect previously created behaviors. Dear @sudo-panda  and @pushkalkatara Can you test this new fix with the existing visualstates examples (https://github.com/JdeRobot/VisualStates-examples)

Also, I think there is a design flaw for the behavior depicted above. The states should be designed as much as self-contained as p

[2019-08-02 16:01] pushkalkatara opened #132 "[Docs] Redundant /home /VisualStates"
Links - https://jderobot.github.io/VisualStates and https://jderobot.github.io/VisualStates/docs seem redundant.

[2019-08-09 23:43] pushkalkatara commented on #114
Hi, @okanasik I checked the fix with [prius_overtake](https://github.com/JdeRobot/VisualStates-examples/tree/master/prius_overtake) example with 2 cars to overtake. The behavior worked fine. I think if the feature works with this example, it would work with all examples.

[2019-08-10 00:05] pushkalkatara commented on #91
Developing as part of GSoC 2k19 at https://github.com/TheRoboticsClub/colab-gsoc2019-Baidyanath_Kundu/pulls hence closing the issue.

[2019-08-10 00:06] #91 closed

[2019-08-10 00:06] pushkalkatara commented on #120
Hi all, what is the status of this issue?

[2019-08-10 06:37] jmplaza commented on #132
[https://jderobot.github.io/VisualStates/docs](https://jderobot.github.io/VisualStates/docs) seems redudant to me. I would delete it.

All the documentation should be available through the [https://jderobot.github.io/VisualStates](https://jderobot.github.io/VisualStates) which, in the current configuration, is automatically connected by GitHub to the [https://github.com/JdeRobot/VisualStates/tree/

[2019-08-23 13:07] pankhurivanjani opened #133 "Issue in building visualstates tool for ROS2"
Using colcon build, I am able to build up the package without error, but when trying to run it with ros2 run 'visualstates' it shows the error

 ```Package 'visualstates' not found```

To check : Changes for including a package in an active ROS2 workspace.

Till I find the fix for this problem, can developers working on this tool suggest some other workaround to run this tool?

[2019-08-23 14:07] pankhurivanjani commented on #133
Issue solved by using correct syntax in package.xml

[2019-08-23 14:07] #133 closed

[2019-08-24 06:36] pankhurivanjani opened #134 "Error while opening a xml file in visualstates."
While working on Visualstates with ROS2, I got the error of

``` IndexError: list index out of range```

When I checked it with ROS1, I am getting same error here too, I didn't change anything in the code for ROS1. I am using ROS Melodic with Ubuntu 18.04.

This error is coming when I try to open .xml file in Visualstates GUI.

Exact error is:

[code]

@sudo-panda @pushkalkatara @okanasik  Could y

[2019-08-24 07:10] sudo-panda commented on #134
Can you send the XML too?

[2019-08-24 07:36] pankhurivanjani commented on #134
Here, it is https://github.com/JdeRobot/base/tree/master/src/examples/visualStates/ros/obstacleAvoidancePython

[2019-08-24 08:46] pankhurivanjani commented on #134
Instead of examples given in jderobot base repository, I used examples from visualstates-example repository and it worked fine.

[2019-08-24 15:17] #134 closed

[2019-08-24 18:54] pankhurivanjani opened #135 "VisualStates with Python3"
Currently, Visualstates has been developed and tested with python2.

app.exec ( from Qt in python) is giving the error with version 3, which needs to be solved.

Exact Error: Segmentation fault

[2019-08-25 07:03] pankhurivanjani opened #136 "Issue with running kobuki obstacle avoidance in python with ROS1"
I am getting errors in running this example with visualstates

My System Info:
OS: ubunutu 18.04
ROS: Melodic
Python: In this case, python 2 itself

[code]

[2019-08-25 11:45] sudo-panda commented on #136
Its a VisualStates-examples issue so could you open it there?

[2019-08-26 10:56] jmplaza commented on #136
sure, @pankhurivanjani has just created [it there](https://github.com/JdeRobot/VisualStates-examples/issues/22)

[2019-08-26 10:56] #136 closed

[2019-10-04 13:40] okanasik commented on #114
fixed by 294e6094e850470ccf42e4b6bdd91c4914f6279d

[2019-10-04 13:40] #114 closed

[2019-10-06 09:38] jmplaza opened #140 "New webpage for VisualStates based on Minimal-Mistakes template"
It will be available at[ this URL](https://jderobot.github.io/VisualStates) and its source code at the [github repository](https://github.com/JdeRobot/VisualStates/tree/master/docs) of VisualStates

[2019-10-14 11:15] jmplaza commented on #140
It still does not work properly @pushkalkatara

From the current contents in the repo I can't deploy it locally, and it also does not work on the GitHub web either. Following [these instructions](https://github.com/JdeRobot/jderobot.github.io/blob/master/README.md) the local deployment works for JdeRobot webpage and for DetectionSuite webpage, but not for VisualStates webpage....

Does VisualState

[2019-10-25 18:42] pushkalkatara commented on #140
I recently made a new PR and merged it into the master. I made changes to the docs and its working now. Please have a look here at https://jderobot.github.io/VisualStates/ . I ported all the documentation to the new theme. Further, we can discuss and make commits to improve upon it.

[2019-10-26 14:50] okanasik commented on #140
@pushkalkatara The image links are broken. Also, we had a vectoral drawing version of JdeRobot in resources directory. Can you this image for the home page? Also white text color on white background is hard to read and does not look nice. Can you give different color to these texts or background.

[2019-11-02 14:09] pushkalkatara commented on #140
@okanasik I fixed the backgrounds and the text color with recent commits. I am facing some weird behavior, like the [usage guide](https://jderobot.github.io/VisualStates/features/usage) links are working locally but not when I push on the website. Also, locally, the title is VisualStates but it changes to `what is VisualStates` on the server.

[2020-01-06 06:19] jiban-jyoti opened #144 "Same Information in both readme as well as in VisualStates webpage"
The information present in the readme file is already present in the VisualStates webpage. So, It will be better to keep the information in a single piece.

[2020-01-06 08:08] jmplaza commented on #144
Solved in #145 . This way the installation information is only stored in a single place, the VisualStates webpage, instead of two places (webpage and README) which is harder to maintain.

[2020-01-06 08:08] #144 closed

[2020-01-09 06:19] jiban-jyoti opened #146 "VisualStates Release for ROS Melodic"
What is the release date for VisualStates package for ROS-melodic as currently I am doing source installaton to run the exercises based on VisualStates. Also well done for maintaining this package and I am excited to know the release dates.

[2020-01-13 11:58] okanasik commented on #146
Thank you for your interest in the project. We are ready for the release, we are planning to make the release in the following week. I will let you know when we release. If you encounter any issues please do not hesitate to report.

[2020-01-19 07:06] jiban-jyoti commented on #146
Hello @okanasik I think the visualstates package for ROS-melodic is released now. Can you tell me the instructions to install it. I tried source installation but I am getting errors.

rosrun visualstates main.py
Traceback (most recent call last):
  File "/home/jiban/catkin_ws/src/VisualStates/scripts/main.py", line 25, in <module>
    from visualstates.gui.visualstates import VisualStates
ImportEr

[2020-01-24 21:47] okanasik commented on #146
Hi @jiban-jyoti , I checked the problem. If you rename the directory to all lowercase letters, it should work. Did you solve the problem?

[2020-01-24 21:51] okanasik opened #147 "The project directory should be all lowercase"
When the project is installed from source and the directory of the project is camel case (`VisualStates`), the main.py module cannot find `visualstates.gui.visualstates`. The module loading should be agnostic to the directory of the project.

[2020-01-28 15:18] jiban-jyoti commented on #146
Yes Sir, It is working perfectly now. We should update the commands also.

[2020-01-29 17:52] jiban-jyoti commented on #146
Yes Sir, It is working perfectly now. We should update the commands also.

[2020-01-29 17:52] #146 closed

[2020-02-26 12:25] okanasik opened #149 "setup.py should include the module visualstates.gui.util"
setup.py is missing the module visualstates.gui.util

[2020-02-26 12:29] #149 closed

[2020-03-20 07:31] pankhurivanjani opened #152 "Import error in running binary package of visualstates"
Hi I am trying to run the newer ros-melodic release of visualstates.

When I run the file after sourcing the environment, I get this import error.

[code]

@pushkalkatara could you suggest something for this?

[2020-03-20 13:30] jiban-jyoti commented on #152
@pankhurivanjani I am also facing the same issue while running the new release of visualstates.

[2020-03-21 13:55] pushkalkatara commented on #152
Hi @pankhurivanjani @jiban-jyoti Thanks for pointing out the issue. Please follow the following steps while we are trying to resolve the issue:

In your ROS workspace,

[code]

[2020-04-22 16:11] #152 closed

[2020-04-22 16:18] pankhurivanjani opened #153 "Permission Error in generating python node of examples with ros package"
While working with recently released ros package when I try to generate python nodes from visualstates I get the permission error.

[code]
Problematic file: [line-43_python](https://github.com/JdeRobot/VisualStates/blob/master/src/visualstates/generators/pythonrosgenerator.py#L42)

Testing with cop node generation also resulted in permission issues:

[code]

Problematic file: [line-36_cpp](https:/

[2020-04-23 15:35] pushkalkatara commented on #153
Hi @pankhurivanjani

Did you save the XML in your catkin workspace before generating the python node. I think VisualStates doesn't know location of your catkin workspace. Once you save the XML in catkin workspace, it would generate the Python node there.

[2020-04-24 03:53] pankhurivanjani commented on #153
Yes, it  is working  fine now.
Thanks.

[2020-04-24 03:53] #153 closed